# =========================
# Maven / Java
# =========================
target/
*.jar
*.war
*.ear

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment files
# =========================
.env
